body {
    text-align: center;
    margin: 0;
    padding-top: 800px;




}

.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
    text-align: center;






}

#welcome {
    position: absolute;
    height: 800px;
    color: white;
    background: linear-gradient(#07f527 0%, #f50707 100%);
    display: tabel;
    width: 100%;
    height: 100%;
    z-index: 9;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    text-align: center;


}

h1 {
    font-family: cursive;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.2;





}

h2 {
    font-family: 'Train One', cursive;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2
}

h3 {
    font-family: cursive;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
}



#bio {
    text-align: center;
    font-size: 45px;
    padding: 130px;




}





.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;





}





p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;




}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: center;
}



.menu {
    list-style: none;
    font-family: sans-serif;
    position: fixed;
    margin-top: 0px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
    width: 100%;
    background-color: white;
    top: 0px
}



.links {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: fantasy;
    font-size: 40px;
    display: inline;
}



links:hover {
    font-size: 45px;
    text-decoration: underline;
}



html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: crimson;
    text-shadow: 2px 2px gainsboro;
}


.artickle:hover {
    color: #1a5c82;

}



#Contact {
    background-color: firebricks;
}


#Contact iframe {
    width: 100%
}




#Writings { text-shadow:none;
    text-decoration:underline;
    color:Blue;
}
